<div class="container" appAutoHideScroll>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
    possimus libero incidunt eligendi laudantium nihil porro praesentium, eos
    neque distinctio quas, commodi eaque non iste eum nulla illum dignissimos
    consectetur. Rerum praesentium eligendi reiciendis fugiat incidunt autem
    dicta. Dolorem blanditiis aperiam aliquam rerum eligendi ipsa perferendis
    natus vitae. Quibusdam, voluptatibus. Voluptas mollitia odio ex voluptates
    explicabo, aspernatur quo suscipit adipisci nisi architecto cum rerum sint
    animi dolor. Facere neque consequuntur sint impedit pariatur excepturi,
    deserunt, dicta ad corporis praesentium placeat repellendus architecto
    necessitatibus, earum error. Optio dolorem id provident dolore similique
    enim. Assumenda esse officiis laboriosam fugiat ullam nemo voluptates
    mollitia aliquid ab ipsa. Distinctio consequuntur quibusdam quo fugit
    aperiam voluptates doloremque officia velit quasi ducimus nam, minima porro,
    at laboriosam. Ea tempore adipisci, blanditiis vero aliquam qui iste
    obcaecati eveniet itaque enim eius consequuntur rerum? Id, facilis quo
    doloremque libero harum consequuntur iusto minima voluptatibus recusandae,
    est esse quos delectus aut illum necessitatibus aspernatur nostrum dolorum.
    Veritatis nostrum optio tenetur quod odit tempore, unde, vero eligendi, et
    illo explicabo maxime aliquid beatae facere? Inventore, delectus vel. Dicta,
    odio fugit temporibus aliquid aut iste impedit obcaecati fugiat ullam
    facilis sint ipsa! Doloremque nesciunt eveniet quidem cum tenetur, id qui
    nobis.
  </p>

  <div class="child-div" appAutoHideScroll>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore tempora
    numquam, praesentium natus, enim ut distinctio eum et aperiam optio
    molestiae at? Sint cupiditate laborum blanditiis atque nemo incidunt vitae!
    Eligendi, consectetur. Nemo deserunt inventore cum quam, enim alias amet
    voluptatibus consequatur facilis ea atque fuga aperiam omnis non animi
    voluptate eos reiciendis ullam facere dolorem assumenda illum corrupti quae.
    Sunt dolore quisquam ut molestias voluptatem, reiciendis quos magnam sit,
    reprehenderit, recusandae iusto ab voluptate ipsam dicta labore voluptates
    architecto explicabo illo ex cum. Officiis, error aspernatur, doloribus
    doloremque laboriosam veritatis blanditiis vitae mollitia nulla impedit
    totam maxime quia distinctio enim temporibus commodi quis quasi aut soluta.
    Corporis dolore cum veniam modi eius adipisci magnam, provident fuga esse,
    molestias eligendi repellendus omnis iusto aspernatur laudantium placeat,
    facere earum impedit accusantium? Odit voluptatum reprehenderit accusantium
    iusto vero maxime quam quae ea provident enim impedit autem earum eveniet
    reiciendis nam error repellat veritatis ex temporibus, optio consequuntur.
    Quidem tempore vitae laudantium veniam? Dolorum ea eaque rem labore soluta
    qui, quaerat repudiandae corporis aut velit. Eveniet culpa, sunt
    exercitationem consectetur voluptate dicta? Consequatur quisquam
    perspiciatis autem, eius voluptas dignissimos id enim expedita facere nihil
    cupiditate ratione labore dicta repudiandae corporis quibusdam dolore
    tempora dolorum, sit officia? Natus fuga cum numquam dolores expedita
    impedit ipsa, eveniet iure sit ab aliquid hic esse. Iste commodi accusantium
    earum impedit nisi harum suscipit veritatis, architecto perferendis quidem
    itaque temporibus ipsum fugit neque porro voluptate adipisci a optio,
    praesentium voluptas quas reiciendis perspiciatis? Id mollitia vero
    asperiores magni!
  </div>

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero expedita
  inventore, molestiae rem, voluptate architecto placeat culpa labore eos optio
  minima quisquam est neque beatae nostrum id natus delectus cum consequuntur
  reprehenderit alias qui aliquam ipsa dolore. Totam inventore expedita,
  consectetur consequuntur minima doloremque quod reiciendis assumenda delectus
  eius culpa ipsam, error officia facilis non ducimus voluptatem laboriosam?
  Molestias quos id repellendus eaque excepturi dolores voluptatibus minus
  laboriosam quas minima voluptatem eveniet rem tempora in dolore, quam
  reiciendis nisi illo nemo perspiciatis perferendis odit dicta. Ducimus,
  debitis. Illum quidem adipisci dolorem recusandae sunt autem quas? Similique
  omnis eaque odit sapiente, illo labore tempora dolorum cumque laudantium
  perferendis dolor aliquid ducimus ipsa, hic eligendi ea delectus sequi, quas
  sed voluptatum iusto necessitatibus! Aperiam ratione unde ipsam numquam itaque
  officiis amet earum accusamus fuga doloremque. Molestias odio nostrum ducimus
  perferendis eum! Magnam cupiditate et modi eveniet molestias culpa adipisci
  praesentium unde nam inventore eos in quo nisi consectetur voluptatibus fugiat
  porro minus quisquam vitae totam quis qui, libero saepe. Aperiam aut harum at
  nihil temporibus omnis esse, similique ut aliquid praesentium dicta optio
  nostrum labore numquam, incidunt nesciunt, ratione rerum voluptatibus dolores
  culpa exercitationem repellat. Provident ipsam cum tempora non ducimus saepe
  fugiat aliquid omnis esse perferendis dolorem adipisci, sunt architecto maxime
  modi, est praesentium suscipit eius delectus vero rem optio voluptatibus unde.
  Eius perferendis et placeat, corrupti, temporibus magnam reiciendis inventore
  ipsum delectus voluptate, suscipit quibusdam fugit. Perspiciatis corrupti
  cumque dolorem, odit voluptatibus, labore corporis consectetur pariatur eos
  nihil, itaque quis?
</div>
